extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Log In
        form(method='POST' action='/login')
          div.form-group
            label(for='name') Nombre
            input.form-control(type='text' id='name' placeholder='Nombre' name='name')
          div.form-group
            label(for='password') Password
            input.form-control(type='password' id='pass' placeholder='Password' name='pass')
          button.btn.btn-primary(type='submit') Log in
        form(method='GET' action='/signIn')
          button.btn.btn-primary(type='submit') Sign In
