div
  table
    thead
      a(href='/') Return
      tr: th Usuarios
    tbody
      each user, i in users
        tr
          td
            a() #{user._id}
          td
            a(href='/users/' + user._id) #{user.name}
          td
            a(href='/users/' + user._id) #{user.pass}
          td
            a(href='/users/remove/' + user._id) Eliminar
